<nav  class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
   
  <a class="navbar-brand" routerLink="/">Home</a>
  
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/secure">Manage</a>
      </li>
  </ul>


  <div class="navbar-nav mr-3">
    <a class="nav-link" *ngIf="!loggedIn" routerLink="/register">Register</a>
  </div>

  <div class="navbar-nav">
      <a class="nav-link" *ngIf="!loggedIn" routerLink="/login">Login</a>
      <a class="nav-link" *ngIf="loggedIn" routerLink="/" (click)="logout()">Logout</a>
  </div>



</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Copyright: Laravel With Angular By: <strong>Hakeem</strong></div>
  <!-- Copyright -->
</footer>



